
<header class="header indigo z-depth-1 center-align">
  <img src="../../assets/images/men.jpg" alt="java" class="circle responsive-img">
  <h5 class="white-text">Prashanth Sreepathi</h5>
  <p>Junior Java Developer</p>
    <nav class="indigo">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a [routerLink]="['/aboutme']"
            href="#">about me</a></li>
          <li><a [routerLink] = "['/resume']"
            href="#">resume</a></li>
        </ul>
        <ul id="nav-mobile1" class="right hide-on-med-and-down">
          <li><a [routerLink]="['/contact']"
            href="#">contact</a></li>
          <li><a [routerLink]="['/resources']"
            href="#">resources</a></li>
        </ul>
      </div>
    </nav>

</header>

