<div class="container section">
<div class="row">
  <div class="col s12" style="margin-top: 30px">
    <i style="margin-right: 15px;" class="left material-icons medium grey-text">sentiment_satisfied</i>
    <h5 class="indigo-text section-title" style="margin-top: 17px">
      All About Me
    </h5>
    <p class="flow-text darken-3">
      Welcome to my timeline. My work experience and
      education details are almost explained here. take a
      moment to checkout.
    </p>
  </div>
</div>
</div>
<div class="container section">
  <div class="row">
    <div class="col s12 m4">
        <i style="margin-right: 15px;" class="left material-icons medium grey-text">sentiment_satisfied</i>
        <h5 class="indigo-text section-title" style="margin-top: 18px; display: block">
          Download Resume
        </h5>
        <p class="darken-3 flow-text darken-4" style="font-size: 15px; padding: 5px">
          <strong>You can down download my resume in pdf format if you like.
            I create usable web interfaces, front and back end
            stuff. I love what i do.</strong>
        </p>
        <button class="btn waves-effect indigo btn-large">
          <a href="https://docs.google.com/document/d/1m5EkEcZFn_K36iAx5076xCrympVmTz9InfHL5fZw4RU/edit" target="_blank" class="white-text">
            Download cv
          </a>
        </button>
        <div class="row">
          <h5 class="indigo-text section-title" style="margin-top: 20px;">
            <i style="margin-right: 15px;" class="left material-icons medium grey-text">sentiment_satisfied</i>
            Programming Skills
          </h5>
          <p class="darken-3 flow-text darken-4" style="font-size: 15px; padding: 5px">
            <strong>Man behind the development. Human remains that taking the
            role. We are experienced in utilizing all resources, for best results
              and perfect quality.</strong>
          </p>
          <div class="skills">
            <a class="btn waves-effect waves-light indigo">Java</a>
            <a class="btn waves-effect waves-light indigo">J2EE</a>
            <a class="btn waves-effect waves-light indigo">Spring</a>
            <a class="btn waves-effect waves-light indigo">Spring Jpa</a>
            <a class="btn waves-effect waves-light indigo">Hibernate</a>
            <a class="btn waves-effect waves-light indigo">json</a>
            <a class="btn waves-effect waves-light indigo">Angular 4/5</a>
            <a class="btn waves-effect waves-light indigo">Html</a>
            <a class="btn waves-effect waves-light indigo">css</a>
            <a class="btn waves-effect waves-light indigo">JavaScript</a>
            <a class="btn waves-effect waves-light indigo">Materialize css</a>
            <a class="btn waves-effect waves-light indigo">Spring jpa</a>
            <a class="btn waves-effect waves-light indigo">Jdbc</a>
            <a class="btn waves-effect waves-light indigo">bootstrap</a>
            <a class="btn waves-effect waves-light indigo">Junit</a>
            <a class="btn waves-effect waves-light indigo">pl/sql</a>
            <a class="btn waves-effect waves-light indigo">sql</a>
            <a class="btn waves-effect waves-light indigo">Maven</a>
            <a class="btn waves-effect waves-light indigo">Eclipse</a>
            <a class="btn waves-effect waves-light indigo">git</a>
            <a class="btn waves-effect waves-light indigo">jenkins</a>
          </div>
        </div>
    </div>
    <div class="col s12 m8" style="padding-left: 20px;">
      <i style="margin-right: 15px;" class="left material-icons medium grey-text">sentiment_satisfied</i>
      <h5 class="indigo-text section-title" style="margin-top: 17px">
        When Where What
      </h5>
      <ul>
        <li style="margin-top: 30px">
          <div class="card indigo">
            <div class="card-content white-text">
              <span class="card-title" style="font-size: 20px">Innovate Inc, Sioux falls, SD</span>
              <p style="font-weight: 200">
                Innovate provides geospatia services to the clients.
                Developed a web application using ArcGIS open data portal.
                Developing backend systems basically working with JAVA,
                J2EE, SPRING, Materialize CSS, Spring JPA.
              </p>
            </div>
            <div class="card-action white-text" style="font-weight: 200">
              <p>Jun 17 - Apr 17</p>
            </div>
          </div>
        </li>
        <li style="margin-top: 20px">
          <div class="card indigo">
            <div class="card-content white-text">
              <span class="card-title" style="font-size: 20px">University Of South Dakota, SD</span>
              <p style="font-weight: 200">
                Worked as a Research Assistant for CS department.
                Implemented a paper called Pixel based change detection methods.
                As a Research assistant used to maintain the University website
                tim to time as a part of my work.
              </p>
            </div>
            <div class="card-action white-text" style="font-weight: 200">
              <p>Aug 16 - Jan 17</p>
            </div>
          </div>
        </li>
        <li style="margin-top: 20px">
          <div class="card indigo">
            <div class="card-content white-text">
              <span class="card-title" style="font-size: 20px">Optum Global Solutions, India</span>
              <p style="font-weight: 200">
                Optum Global Solutions is one of the major health care services provider
                that serves huge domain of customers in the health domain. Started as
                a intern and continued to work after graduation. Complted training project
                using spring mvc and created JSP pages to display data.
              </p>
            </div>
            <div class="card-action white-text" style="font-weight: 200">
              <p>Dec 2014 - Nov 2015</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
